$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-dark-blue: #001a41;
$color-light-blue: #e8eef1;
$color-cream: #f3f3f3;
$color-black: #000;
$color-dark-red: #860a35;
$color-light-red: #af2655;
